@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Makes width and height include padding and borders */
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Add any other global styles here */
